# EditorConfig helps maintain consistent coding styles between different editors and IDEs
# More information at http://editorconfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

# 2 space indentation for HTML, CSS, JS, JSON, YAML, Markdown, and SCSS
[*.{html,css,js,json,yml,md,scss}]
indent_style = space
indent_size = 2

# Windows-style newlines for specific files
[{*.txt,wp-config-sample.php}]
end_of_line = crlf

# Special configurations for Markdown files
[*.md]
trim_trailing_whitespace = false

# Tab indentation for PHP
[*.php]
indent_style = tab

# Use double quotes in JSON
[*.json]
quote_type = double