$mq-responsive: true;

$mq-breakpoints: (
  mobile: 20em, // 320px
  sm: 36em, // 576px
  md: 48em, // 768px
  lg: 62em, // 992px
  tablet: 46.25em, // 740px
  desktop: 61.25em, // 980px
  wide: 89.5em, // 1432px
  // Tweakpoints
  desktopAd: 75em, // 1200px
  mobileLandscape: 30em, // 480px
);