@import '../../../node_modules/sass-mq/_mq.import.scss';
@import '../settings/mq';

.wp-block-button__link svg {
	vertical-align: middle;
	fill: currentColor;
}
.wp-block-button{
	.wp-block-button__link{
		background-color: red;
	}
}