@use '../settings/mq.scss' as *;

.wp-block-post-author {
  align-items: center;
  flex-direction: column;
  margin: 1rem 0 0.75rem;
  padding: 1.5rem;
  text-align: center;
  z-index: 1;

  @include mq(md) {
    flex-direction: row;
    padding: 1.5rem 2rem;
    text-align-last: left;
  }

  @include mq(lg) {
    margin: 1rem 0;
  }
}

.wp-block-post-author__avatar {
  width: 4rem;
  height: 4rem;
  margin: 0 0 1rem;
  border-radius: 100%;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
  }

  @include mq(md) {
    margin: 0 0.75rem 0 0;
  }
}


.wp-block-post-author__name {
  margin: 0;
  font-size: var(--wp--preset--font-size--body);
  line-height: 1.4;
  font-weight: 700;
}

.wp-block-post-author__bio {
  margin: 0;
  font-size: var(--wp--preset--font-size--small);
  line-height: 1.2;
}
