@use '../settings/mq.scss' as *;

.wp-block-post-terms {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  font-size: var(--wp--preset--font-size--extra-small);
  line-height: 1;

  a {
    padding: 0.5em 0.8em;
    letter-spacing: 0.04em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--wp--preset--color--primary);
    background: var(--wp--preset--color--secondary);
    transition: all 90ms ease-out;

    &:hover {
      color: var(--wp--preset--color--black);
    }
  }
  @include mq(lg) {
    gap: 0.5rem;

    a {
      padding: 0.6786em 0.8571em;
    }
  }
}
