@use '../settings/mq.scss' as *;

.wp-block-search {
	margin: 2em 0 1.875em;

	.search-results & {
		margin-bottom: 2rem;
	}

	@include mq(lg) {
		margin-bottom: 4em;

		.search-results & {
			margin-bottom: 2.5rem;
		}
	}
}

.wp-block-search__inside-wrapper {
	padding: 0.25em 0.5em 0.25em 0.75em;
	border: 1px solid var(--wp--preset--color--secondary);
  transition: all 0.2s ease-in-out;

	@include mq(lg) {
		padding: 0.4375rem 0.75rem;
	}
}

.wp-block-search__input {
	padding: 0.07143em 0 0;
	border: none;
	outline: none;
	font-size: var(--wp--preset--font-size--small);
	line-height: 1.2;
	background: none;
	transition: all 0.2s ease-in-out;
}

.wp-block-search .wp-block-search__button {
	padding: 0;
	border: none;
	outline: none;
	color: var(--wp--preset--color--secondary);
	background: none;
	transition: all 0.2s ease-in-out;

	svg {
		width: 1.5rem;
		height: 1.5rem;
		transform: scaleX(-1);
	}

	&:hover {
    color: var(--wp--preset--color--primary);
	}

	@include mq(lg) {
		svg {
			width: 1.875rem;
			height: 1.875rem;
		}
	}
}
