@use '../settings/mq.scss' as *;

.wp-block-separator {
  margin: 1rem auto;
  max-width: var(--wp--style--global--wide-size);

  @include mq(lg) {
    margin: 2.5rem auto;
  }

  &.has-background:not(.is-style-dots) {
    height: 2px;
  }

  &.is-style-dots {
    &::before {
      content: "";
      display: block;
      padding: 0;
      border-bottom: 1px dashed currentcolor;
    }
  }
}
